
.main-page-header{
  background-color:#333333;
  height: 50px;
  width: 100vw;
  display: flex;
  margin-top: 0;
  position: fixed;
  z-index: 100;
}

.logo{
  font-size: 30px;
  padding-left: 30px;
  
}


.header-left{
  width: 25%;
  height: 100%;
  text-align: center;
  justify-content: center;
  color:#99FFFF;
}

.center-header{
  width:75%;
  height: 100%;
  display: flex;
  font-size: 20px;
  /* margin-top: 20px; */
 }
 
 .header-list-fish-chath {
  width: 30%;
  font-size: 30px;
  text-decoration: none;
  border-left:2px solid white ;
  border-right:1px solid white ;
  text-align: center;
  justify-content: center;
  color:#808080;
  
}

.header-list-fish-chath:hover{
  background-color: #000066;
  color: white;
  transition:0.5s;

}



.header-list-recipe {
  width: 30%;
  font-size: 30px;
  text-decoration: none;
  border-left:1px solid white ;
  border-right:1px solid white ;
  text-align: center;
  color:#808080;
}
.header-list-recipe:hover{
  background-color: #880000	;
  color: white;
  transition:0.5s;
}

.header-list-coliumn {
  width: 30%;
  font-size: 30px;
  text-decoration: none;
  border-left:1px solid white ;
  border-right:2px solid white ;
  text-align: center;
  color:#808080
  
}

.header-list-coliumn:hover{
  background-color: #003300;
  color: white;
  transition:0.5s;

}
 

 .rogin{
  width: 25%;
  font-size: 30px;
  border-left:1px solid white ;
  border-right:1px solid white ;
  text-align: center;
  color:#808080;
}

.rogin:hover{
  background-color: #000000		;
  color: white;
  transition:0.5s;
}

.sign-in{
  width: 25%;
  font-size: 30px;
  border-left:1px solid white ;
  border-right:1px solid white ;
  text-align: center;
  color:#808080; 
}
.sign-in:hover{
  background-color: #000000		;
  transition:0.5s;
}

.session{
  color:#808080; 
  text-decoration: none;
}

.session:hover{
  color: white;
  transition: 0.5s;
}

.user-name{
  width: 40%;
  height: 50px;
  font-size:30px;
  border-left:1px solid white ;
  border-right:1px solid white ;
  text-align: center;
}

.user-name:hover{

  background-color:#1E90FF ;
  transition: 1s;
}

.user-name-pulldown{
  color:#808080; 
}

.user-name-list{
  background-color: #333333;
  border:1px solid white ;
}

.user-name-list:hover{
  background-color:#1E90FF ;
  transition: 0.4s;
  color: white;
}

.hidden{
  display: none;
}