<%= render "shared/header"%>

<div class="main">
 <div class="title-image">
 </div>
 <%# 釣果一覧表示 %>
 <div class="fish-catch-pages">
  <h1 class="list-title">釣果一覧</h1>
    <li class="content-list">
      
     
    </li>
    
   
 
 </div>
 <%# レシピ一覧 %>
 <div class="recipe-pages">
  <h1 class="list-title">料理一覧</h1>
 <div>
 <%# コラム一覧 %>
 <div class="colimn-pages">
  <h1 class="list-title">コラム一覧</h1>
 </div>

<%= render "shared/footer"%>